page-login {
  .startLogin{
    background-image: url('../assets/imgs/bluebg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
	ion-img {
		background-color: transparent !important;
		size: 200px;
	}
	.or{
		font-size: 40px;
	}
	ion-label{
		font-size: 18px;
    background-color: transparent !important;
    color: lightgray;
  }
  ion-item{
    background-color: transparent !important;
  }
  ion-input{
    color: lightgray;
  }
  p{
		font-size: 15px;
    color: lightgray;
  }
}
#custom-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  width:100%;
  background-color: #002a3e;
}

.flb {
  background-color: #3ebffb;
  height:100%;
  width:100%;
  animation: pulse 1s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  max-width: 50%;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}

