page-routes {
    ion-content, ion-header{
        width: 100%; height: 87%; top: 17%; left: 0; right: 0; bottom: 0;
    }
    .close-button{
        width: 83%;
        margin-left: 17%;
    }
    .title{
        font-size: 25px;
        background-color: rgba(66, 65, 65, 0.1);
        font-weight: bold;
    }
    .opt:hover > div {
        background-color:rgba(66, 65, 65, 0.1);
    }
}