<ion-header>
    <ion-navbar color="danger">
      <ion-title></ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content>
    <div>
        <ion-list scrollable=true>
            <ion-item>
                <!--<ion-select [(ngModel)]="type" interface="popover">
                    <ion-option *ngFor="let type of routeType" selected="{{ type.name }}">{{type.name}}</ion-option>
                </ion-select> -->
                <ion-toolbar>
                    <ion-segment color="danger">
                        <ion-segment-button class="lessfare" value="lessfare">
                            <!--<ion-icon name="camera"></ion-icon>-->
                        </ion-segment-button>
                        <ion-segment-button value="lesswalk">
                            <ion-icon name="bookmark"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="lesstransfer">
                            <ion-icon name="bookmark"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="round-trip">
                            <ion-icon name="bookmark"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            </ion-item>
            <ion-list>
                <ion-item text-wrap *ngFor="let t of trip; let i = index">
                    <button ion-button item-start (click)="plotted(i)">Plot</button>
                    <h2>Itinerary: {{ t.id+1 }}</h2>
                    <p>No. of transfer: {{ t.transfer }}</p>
                    <p>Total fare: P{{ t.fare }}</p>
                    <button ion-button outline item-end (click)="seeDetails(i)">Details</button>
                </ion-item>
            </ion-list>
        </ion-list>
    </div>
    <div #map id="map"></div>
</ion-content>