page-routes {
    #map {
        width: 100%;
        height: 500px;
    }
    ion-content, ion-header{
        width: 100%; height: 87%; top: 13%; left: 0; right: 0; bottom: 0;
    }
    .close-button{
        width: 83%;
        margin-left: 17%;
    }
}