.titleicon {
    position: absolute;
    width: 40%;
    height: 40px;
    left: 0;
    bottom: 0;
    text-align:center;
}
.SignUp{
    width: 43%;
    height: 40px;
    text-align:center;
    font-size: 50px;
    font-weight: bold;
}