page-home {
    #map {
        width: 100%;
        height: 100%;
    }
    .menu-button{
        float: right;
    }
    .searchbar-search-icon {
        display:none;
        width:0;
        height:0;

    }
    .searchbar-input {
        padding-left: 0px !important;
        background-color: #FFE541 !important;

    }
    ion-item {
        background-color: transparent !important;
    }
    .no-padding{
        padding: 0px !important;
    }
    .limit-item {
        width: 83%;
        margin-left: 17%;
    }
    .title{
        font-size: 15px;
        background-color: transparent !important;
        font-weight: bold;
    }
    .opt:hover > div {
        background-color:rgba(255, 221, 1, 0.4);
    }
    #results{
        width: 100%;
        height: 100%;
    }
    .titleicon {
        position: absolute;
        width: 50%;
        height: 40px;
        left: 0;
        bottom: 0;
        text-align:center;
    }
    .TruFare{
        font-weight: bold;
        font-size: 30;
        width: 55%;
        height: 40px;
        text-align:center;
    }
  
    


}
