page-home {
    #map {
        width: 100%;
        height: 100%;
    }
    .menu-button{
        float: right;
    }
    .searchbar-search-icon {
        display:none;
        width:0;
        height:0;
    }
    .searchbar-input {
        padding-left: 0px !important;
    }
    ion-item {
        background-color: transparent !important;
    }
    .no-padding{
        padding: 0px !important;
    }
    .limit-item {
        width: 83%;
        margin-left: 17%;
    }

    .title{
        font-size: 25px;
        background-color: rgba(66, 65, 65, 0.1);
        font-weight: bold;
    }
    .opt:hover > div {
        background-color:rgba(66, 65, 65, 0.1);
    }
    #results{
        width: 100%;
        height: 100%;
    }
}
