<ion-header>
  <ion-navbar color = custom-yellow>
    <ion-grid no-padding no-margin>
      <ion-row>
        <ion-col col-2>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
      <ion-col col-98>
        <ion-row>
          <ion-col>
            <ion-searchbar placeholder="Origin" type="text" (ionInput)="showAddress1()" (ionFocus)="checkFocus(1)" [(ngModel)]="address.origin"></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-searchbar placeholder="Destination" type="text" (ionInput)="showAddress2()" (ionFocus)="checkFocus(2)" [(ngModel)]="address.destination"></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center no-padding>
            <button color=secondary-yellow ion-button block (click)="findRoute(address)">GO</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle icon-only class="menu-button" >
        <ion-icon name='menu'></ion-icon>
      </button>
      <div class="titleicon">
          <img src="./assets/imgs/login3.png" width="25px"  />
         </div>
         <ion-title class="TruFare">TruFare</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{ p.title }}
      </button>
  </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
    <div>
      <ion-list [hidden]="autocompleteItems1.length == 0">
        <ion-item class="limit-item" *ngFor="let item1 of autocompleteItems1" tappable (click)="selectOrigin(item1)">
          {{ item1 }}
        </ion-item>
      </ion-list>
      <ion-list [hidden]="autocompleteItems2.length == 0">
        <ion-item class="limit-item" *ngFor="let item2 of autocompleteItems2" tappable (click)="selectDest(item2)">
          {{ item2 }}
        </ion-item>
      </ion-list>
    </div>
    <div [hidden]="!showMap" #map id="map"></div>
    <div [hidden]="!showResults" class="results">
      <div>
        <ion-list scrollable=true>
                <ion-toolbar color="custom-yellow">
                    <ion-segment color="dark">
                      <ion-segment-button  value="lessfare" (click)="sortFare()">
                          <img src="./assets/imgs/lessfare1.png" height="30px" width="30px" />
                        </ion-segment-button>
                        <ion-segment-button value="lesswalk" (click)="sortWalk()">
                            <img src="./assets/imgs/lesswalk1.png" height="30px" width="30px" />
                        </ion-segment-button>
                        <ion-segment-button value="lesstransfer" (click)="sortTransfer()">
                            <img src="./assets/imgs/lesstransfer1.png" height="30px" width="30px" />
                        </ion-segment-button>
                        <ion-segment-button value="lesstime" (click)="sortTime()">
                            <img src="./assets/imgs/lesstime1.png" height="30px" width="30px" />
                        </ion-segment-button>
                    </ion-segment>
                </ion-toolbar>
            <ion-list>
                <ion-item class="opt" text-wrap *ngFor="let t of trip; let i = index" tappable (click)="seeDetails(i)">
                    <ion-list-header class="title">
                        Route #{{ t.id+1 }}
                    </ion-list-header>
                    <p item-right>{{ t.totalTime }} min</p>
                    <p>Transfers: {{ t.transfer }}</p>
                    <p>Fare: P{{ t.fare }}</p>
                    <p>Distance: {{ t.totaldistance }} km</p>
                    <p>Walk, about {{ t.totalWalkDistance }} km</p>
                    <p style="font-weight: bold; color: red;" *ngFor="let tr of t.traffic">*{{ tr }}</p>
                    <p [hidden]="!t.roundtrip">This is a round-trip feature. This will direct you to the nearest terminal.</p>
                </ion-item>
            </ion-list>
        </ion-list>
        <button class="close-button" color=secondary-yellow ion-button block (click)="close()">Close</button>
      </div>
    </div>
</ion-content>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>