page-details {
    #map {
        width: 100%;
        height: 400px;
    }
    ion-item{
        white-space: pre-line;
    }
    .legIcon{
        font-size: 30px;
    }
    .icon-col{
        align-self: center;
    }
    ion-grid {
        background-color: lightcyan;
    }
    .cell-0{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-1{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-2{
        background-color: rgb(154, 154, 156); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-3{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-4{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-5{
        background-color: rgb(154, 154, 156); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    ion-img {
        background-color: transparent !important;
    }
}