page-details {
    #map {
        width: 100%;
        height: 400px;
    }
    ion-item{
        white-space: pre-line;
    }
    .legIcon{
        font-size: 30px;
    }
    .icon-col{
        align-self: center;
    }
    ion-grid {
        background-color: lightcyan;
    }
    ion-row {
        background-color: lightcyan;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 15px;
        border-left: 10px;
        border-top: 10px;
    }
    ion-img {
        background-color: transparent !important;
    }
}