page-details {
    #map {
        width: 100%;
        height: 400px;
    }
    ion-item{
        white-space: pre-line;
    }
    .btn-save{
        font-size: 30px;
    }
    .legIcon{
        font-size: 30px;
    }
    .icon-col{
        align-self: center;
    }
    ion-grid {
        background-color: white;
    }
    .cell-0{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-1{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-2{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-3{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-4{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-5{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-6{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-7{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-8{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-9{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-10{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-11{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-12{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-13{
        background-color: rgb(199, 200, 201); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    .cell-14{
        background-color: rgb(229, 226, 226); 
        border-bottom-left-radius: 10px; 
        border-top-left-radius: 15px; 
        border-left: 10px; border-top: 10px;
        display: flex;
        justify-content: center;
    }
    ion-img, ion-icon, ion-item, button{
        background-color: transparent !important;
    }
}